body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.container{
  
  display: flex;
  flex-direction: row;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 5vh 90vh 5vh;
}
.header{
    background-color: skyblue;
    padding: 10%; 
  grid-column: 1/-1;
  display: flex;
 
}

.Menu1{ 
   
    display: grid;
    grid-template-columns: subgrid;
}
    .Menu2{ 
        display: grid;
        grid-template-columns: reapt;
    }
        .Menu3{ 
            display: grid;
            grid-template-columns: reapt;
        }
.column1{
    background-color: #aaa;
    padding: 10%;
    grid-column: 1/2;
}
.column2{
    background-color: #bbb;
    padding: 10%;
    grid-column: auto;
}
.column3{
    background-color: #ccc;
    padding: 10%;
}
.footer{
    background-color: darkslategray;
    padding: 10%;
    grid-column: 1/-1;
    justify-content: center;
}