body{
    margin: 0;
   font-family: Arial;
}
*{
    box-sizing: border-box;
}
.container{
  
  display: flex;
  flex-direction: row;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 5vh 90vh 5vh;
}
.header{
<<<<<<< HEAD
    background-color: skyblue;
    padding: 10%; 
  grid-column: 1/-1;
  display: flex;
=======
    background-color: darkcyan;
    padding:20%;
    text-align: center;
  
  }
  .column{
display: flex;
flex-wrap: wrap;
height: 500px;
}
.menubar{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: flex;
    background-color: darkslategray;
}
.menubar a{
    color: white;
   padding: 14px 20px;
   text-decoration: none;
   text-align: center;
>>>>>>> 613f1d554b13c161cc9d409fe891fb1ec51fa192
 
}
.Menu1{ 
   color: white;
   padding: 14px 20px;
   text-decoration: none;
   text-align: center;

}
    .Menu2{ 
        display: grid;
        grid-template-columns: reapt;
    }
        .Menu3{ 
            display: grid;
            grid-template-columns: reapt;
        }
<<<<<<< HEAD
        .column {
            display: flex;
            flex-wrap: wrap;
            height:500px;
        }
        .menubar a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
            background-color: darkslategray;
        }
.column1{
    background-color: #aaa;
    padding: 10%;
    grid-column: 1/2;
}
.column2{
    background-color: #bbb;
    padding: 10%;
    grid-column: auto;
}
.column3{
    background-color: #ccc;
    padding: 10%;
=======
        .column{
            display: flex;
            flex-wrap: wrap;
            width: 500px;
        }
.column1{
    flex: 33%;
    background-color: darkgrey;
    padding: 20px;
    
}
.column2{
    flex: 33%;
    background-color;
    padding: 20px;
}
.column3{
    flex: 33%;
    background-color: darkgray;
    padding: 20px;
}
@media  screen and(max-width:600ps) {
    .column1,.column3{
        flex:40%
    }
    .column2{
        flex-wrap: wrap;
        flex-grow: 3;
    }
>>>>>>> 613f1d554b13c161cc9d409fe891fb1ec51fa192
}
@media screen and (max-width: 600px) {

    .column1, .column3 {
        flex: 40%;
    }
    .column2{
        flex-wrap: wrap;
        flex-grow: 3;
    }
}
.footer{
    background-color: darkslategray;
    padding: 20px;
    text-align: center;
   
}