.tweet{
    list-style: url(img/tweet.jpg);
}
body{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.new1{
    border-radius:100px;
    background-color: orange;
    color: white;
    font-size: large;
    padding: 20px;
    margin: -50px;
    width: 130px;

}
.new{
    border-radius: 150px;
background-color: black;
color: white;
padding: 20px;
font-size: medium;
width: 250px;
}
.box{
flex: 25%;
padding: 20px;
align-items: center;
box-sizing: content-box;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
.footr{
    padding-right: 15px;

}
.foot{
    border-top: 0.5px solid gray;
    padding: 80px;
    margin-top: 120px;
    

}